<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Eventos Públicos</title>
    <link rel="stylesheet" href="/css/anuncios.css"/>
</head>
<%- include("templates/navbar") %>
<body>
<main class="contenedor-eventos">
    <div class="grid-eventos">
        <div class="tarjeta-evento">
            <h2 class="titulo-tarjeta">Desfile Conmemorativo</h2>
            <p class="descripcion-evento">
                Ven y disfruta de un gran desfile en Calle, Distrito, Provincia </p>

            <div class="categorias-evento">
                <span class="categoria">Escolar</span>
                <span class="categoria">Familiar</span>
                <span class="categoria">Música</span>
            </div>

            <p class="fecha-evento">Domingo 23 de Junio, 2025</p>

            <button class="boton-participar">Participar</button>
            <p class="estado-evento">Activo</p>
        </div>
        <div class="tarjeta-evento">
            <h2 class="titulo-tarjeta">Desfile Conmemorativo</h2>
            <p class="descripcion-evento">
                Ven y disfruta de un gran desfile en Calle, Distrito, Provincia </p>
            <div class="categorias-evento">
                <span class="categoria">Escolar</span>
                <span class="categoria">Familiar</span>
                <span class="categoria">Música</span>
            </div>
            <p class="fecha-evento">Domingo 23 de Junio, 2025</p>
            <button class="boton-participar">Participar</button>
            <p class="estado-evento">Activo</p>
        </div>
    </div>
</main>
<%- include("templates/footer") %>
</body>
</html>
