<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/css/formulario-anuncio.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"/>
    <title>Registro de Anuncios</title>
</head>
<%- include("templates/navbar") %>
<body>
<div class="contenedor-formulario">
    <h2 class="titulo-formulario texto-oscuro mb-2">Nuevo Anuncio</h2>

    <div class="grupo-formulario">
        <label class="etiqueta-formulario">Nombre</label>
        <input type="text" class="campo-formulario" placeholder="Nombre del negocio" name="nombre-negocio" id="nombre-negocio"/>
    </div>

    <div class="grupo-formulario">
        <label class="etiqueta-formulario">Teléfono</label>
        <input type="text" class="campo-formulario" placeholder="Teléfono de contacto" name="telefono" id="telefono"/>
    </div>

    <div class="grupo-formulario">
        <label class="etiqueta-formulario">Ubicación</label>
        <input type="text" class="campo-formulario" placeholder="Distrito, Cantón, Provincia" name="ubicacion" id="ubicacion"/>
    </div>

    <div class="grupo-formulario">
        <label class="etiqueta-formulario">Categoría</label>
        <select class="seleccion-formulario" name="categoria" id="categoria">
            <option selected disabled>Selecciona una categoría</option>
            <option>Electrodomésticos</option>
            <option>Comida</option>
            <option>Ropa</option>
            <option>Eventos</option>
            <option>Artículos variados</option>
        </select>
    </div>

    <div class="grupo-formulario">
        <label class="etiqueta-formulario">Descripción</label>
        <textarea class="area-texto" placeholder="Descripción del anuncio" name="descripcion" id="descripcion"></textarea>
    </div>

    <div class="fila-formulario mb-2">
        <div class="columna-formulario">
            <label class="etiqueta-formulario">Fecha de registro</label>
            <input class="campo-formulario" disabled type="text" value="6/20/2025" id="fecha-registro" name="fecha-registro"/>
        </div>
        <div class="columna-formulario">
            <label class="etiqueta-formulario">Estado</label>
            <select class="seleccion-formulario" name="estado" id="estado">
                <option selected disabled>Estado</option>
                <option>Activo</option>
                <option>Inactivo</option>
                <option>En revisión</option>
            </select>
        </div>
    </div>

    <div class="grupo-formulario">
        <label class="etiqueta-formulario">Logo</label>
        <div class="fila-formulario mb-2 nogap">
            <div class="columna-formulario">
                <button class="boton-subir" id="boton-subir-logo">
                    Subir logo
                </button>
            </div>
            <div class="columna-formulario">
                <input type="text" class="campo-formulario" disabled value="fotoEmprendimiento.png" id="input-detalles-logo"/>
            </div>
        </div>
    </div>

    <div class="grupo-formulario">
        <button class="boton-subir" id="crear-anuncio">Crear Anuncio</button>
        <p class="texto-secundario mb-1">
            Al enviar este formulario de registro de anuncio, el usuario declara
            que la información proporcionada es veraz y está actualizada. </p>
    </div>
</div>
<%- include("templates/footer") %>
<script src="/js/validacion-anuncio.js"></script>
</body>
</html>
