<nav class="barra-navegacion">
  <div class="contenedor-navegacion">
      <a href="/" class="logo-navegacion">Comunidades Conectadas</a>
      
      <ul class="navegacion-principal">
          <li class="elemento-navegacion">
              <a href="/" class="enlace-navegacion">Inicio</a>
          </li>
          
          <li class="elemento-navegacion menu-desplegable">
              <a href="#" class="enlace-navegacion desplegable-toggle">Comunidad</a>
              <div class="submenu-desplegable">
                  <a href="/calendario" class="elemento-desplegable">Calendario de Eventos</a>
                  <a href="/eventos/crear" class="elemento-desplegable">Crear Evento</a>
                  <a href="/anuncios" class="elemento-desplegable">Anuncios</a>
                  <a href="/reportes" class="elemento-desplegable">Reportes y Sugerencias</a>
                  <a href="/mapa" class="elemento-desplegable">Mapa Interactivo</a>
              </div>
          </li>
          
          <li class="elemento-navegacion menu-desplegable">
              <a href="#" class="enlace-navegacion desplegable-toggle">Emprendimientos</a>
              <div class="submenu-desplegable">
                  <a href="/emprendimientos" class="elemento-desplegable">Directorio de Negocios</a>
                  <a href="/emprendimientos/registrar" class="elemento-desplegable">Registrar Negocio</a>
                  <a href="/ofertas" class="elemento-desplegable">Ofertas y Descuentos</a>
                  <a href="/anuncios/crear" class="elemento-desplegable">Crear Anuncio</a>
              </div>
          </li>
          
          <li class="elemento-navegacion">
              <a href="#" class="enlace-navegacion">Transporte</a>
          </li>
          
          <li class="elemento-navegacion menu-desplegable">
              <a href="#" class="enlace-navegacion desplegable-toggle">Panel</a>
              <div class="submenu-desplegable">
                  <a href="/dashboard" class="elemento-desplegable">Dashboard</a>
                  <a href="/perfil" class="elemento-desplegable">Mi Perfil</a>
                  <a href="/mis-reportes" class="elemento-desplegable">Mis Reportes</a>
                  <a href="/mis-emprendimientos" class="elemento-desplegable">Mis Negocios</a>
              </div>
          </li>
      </ul>
      
      <div class="seccion-usuario">
          <div class="info-usuario">
              <div class="avatar-usuario">U</div>
              <span class="correo-usuario">usuario@correo.com</span>
          </div>
          <a href="/logout" class="boton-cerrar-sesion">Cerrar Sesión</a>
      </div>
  </div>
</nav>